body {
	margin: 0;
	padding: 0;
	font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #484848;
}

/* Icon in browswe tab */
/* You need to specify the path to your favicon */
/* link rel="icon" type="image/png" href="images/favicon.png" */
