.filters {
	display: flex;
	align-items: center;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 20px;
}

.filters > div {
	height: 100%;
	width: 25%;
}

.filters >div:not(:first-child) {
	border-left: 1px solid #DDDDDD;
}

.filters h3 {
	font-weight: 600;
}

.filters h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 10px;
}

button:hover {
	opacity: 0.9;
}
